<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
                @Html.Partial("LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @*<script type="text/javascript">
        $(document).ready(function () {
            $('#logOut').click(function (e) {
                $.ajax({
                    type: 'GET',
                    url: '/api/Account/Logout',
                    success: function () { sessionStorage.removeItem('Token'); window.location.replace('/Home/Index') },
                    fail: function () { alert('bad') },
                    error: function () { alert('very bad') }
                });


            });

        });
    </script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/knockout-3.4.2.debug.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
